---
- name: Install Pear and Kafka dependencies.
  apt:
    name:
      - php-pear
      - librdkafka1
      - librdkafka-dev
    state: present

- name: Install Kafka 3.1.2
  shell: pecl install rdkafka-3.1.2

- name: Put rdkafka in cli php.ini
  lineinfile:
    path: /etc/php/{{ php_version }}/cli/php.ini
    line: 'extension=rdkafka.so'

- name: check for php fpm directory
  stat:
    path: /etc/php/{{ php_version }}/fpm/php.ini
  register: php_fpm_installed

- name: Put rdkafka in fpm php.ini
  lineinfile:
   path: /etc/php/{{ php_version }}/fpm/php.ini
   line: 'extension=rdkafka.so' 
  notify: restart php-fpm
  when: php_fpm_installed.stat.exists == true
